Options -MultiViews

RewriteEngine On

#Prevent direct access to folders
Options -Indexes


#If the following conditions are true then rewrite the URL:
RewriteCond %{REQUEST_FILENAME} !-f
#IF the requested filename is not a directory
RewriteCond %{REQUEST_FILENAME} !-d
#IF the requested filename is not a file
RewriteCond %{REQUEST_FILENAME} !-f
#IF the requested filename is not a symbolic link
RewriteCond %{REQUEST_FILENAME} !-l


#rewrite the URL to index php  and pass the requested filename as a url parameter
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]